CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
CONFIG_PACKAGE_grub2-efi=y
CONFIG_EFI_IMAGES=y
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_KERNEL_PARTSIZE=256
CONFIG_TARGET_ROOTFS_PARTSIZE=500
CONFIG_KERNEL_BUILD_USER="Teng"
CONFIG_GRUB_TITLE="OpenWrt AutoBuild by Teng"
# CONFIG_PACKAGE_luci-app-LingTiGameAcc=y
# CONFIG_PACKAGE_luci-app-UUGameAcc=y
# CONFIG_PACKAGE_luci-app-adguardhome=y
# CONFIG_PACKAGE_luci-app-advanced=y
# CONFIG_PACKAGE_luci-app-aliddns=y
# CONFIG_PACKAGE_luci-app-aliyundrive-fuse=y
# CONFIG_PACKAGE_luci-app-aliyundrive-webdav=y
# CONFIG_PACKAGE_luci-app-amlogic=y
# CONFIG_PACKAGE_luci-app-amule=y
# CONFIG_PACKAGE_luci-app-argon-config=y
# CONFIG_PACKAGE_luci-app-argonne-config=y
# CONFIG_PACKAGE_luci-app-autoipsetadder=y
# CONFIG_PACKAGE_luci-app-autoreboot=y
# CONFIG_PACKAGE_luci-app-autorepeater=y
# CONFIG_PACKAGE_luci-app-autotimeset=y
# CONFIG_PACKAGE_luci-app-baidupcs-web=y
# CONFIG_PACKAGE_luci-app-beardropper=y
# CONFIG_PACKAGE_luci-app-bypass=y
# CONFIG_PACKAGE_luci-app-clash=y
# CONFIG_PACKAGE_luci-app-cloudflarespeedtest=y
# CONFIG_PACKAGE_luci-app-control-timewol=y
# CONFIG_PACKAGE_luci-app-control-webrestriction=y
# CONFIG_PACKAGE_luci-app-control-weburl=y
# CONFIG_PACKAGE_luci-app-cupsd=y
# CONFIG_PACKAGE_luci-app-ddnsto=y
# CONFIG_PACKAGE_luci-app-diskman=y
# CONFIG_PACKAGE_luci-app-dnscrypt-proxy2=y
# CONFIG_PACKAGE_luci-app-dnsfilter=y
# CONFIG_PACKAGE_luci-app-dnsmasq-ipset=y
# CONFIG_PACKAGE_luci-app-dockerman=y
# CONFIG_PACKAGE_luci-app-easymesh=y
# CONFIG_PACKAGE_luci-app-easyupdate=y
# CONFIG_PACKAGE_luci-app-fileassistant=y
# CONFIG_PACKAGE_luci-app-filebrowser=y
# CONFIG_PACKAGE_luci-app-fullconenat=y
# CONFIG_PACKAGE_luci-app-go-aliyundrive-webdav=y
# CONFIG_PACKAGE_luci-app-godproxy=y
# CONFIG_PACKAGE_luci-app-gpsysupgrade=y
# CONFIG_PACKAGE_luci-app-guest-wifi=y
# CONFIG_PACKAGE_luci-app-homebridge=y
# CONFIG_PACKAGE_luci-app-ikoolproxy=y
# CONFIG_PACKAGE_luci-app-iperf=y
# CONFIG_PACKAGE_luci-app-ipsec-server=y
# CONFIG_PACKAGE_luci-app-iptvhelper=y
# CONFIG_PACKAGE_luci-app-istorex=y
# CONFIG_PACKAGE_luci-app-jd-dailybonus=y
# CONFIG_PACKAGE_luci-app-kodexplorer=y
# CONFIG_PACKAGE_luci-app-koolproxyR=y
# CONFIG_PACKAGE_luci-app-linkease=y
# CONFIG_PACKAGE_luci-app-macvlan=y
# CONFIG_PACKAGE_luci-app-mail=y
# CONFIG_PACKAGE_luci-app-mentohust=y
# CONFIG_PACKAGE_luci-app-minieap=y
# CONFIG_PACKAGE_luci-app-mosdns=y
# CONFIG_PACKAGE_luci-app-netdata=y
# CONFIG_PACKAGE_luci-app-netkeeper-interception=y
# CONFIG_PACKAGE_luci-app-netspeedtest=y
# CONFIG_PACKAGE_luci-app-nft-qos=y
# CONFIG_PACKAGE_luci-app-nginx-manager=y
# CONFIG_PACKAGE_luci-app-nginx-pingos=y
# CONFIG_PACKAGE_luci-app-oaf=y
# CONFIG_PACKAGE_luci-app-oled=y
# CONFIG_PACKAGE_luci-app-onliner=y
# CONFIG_PACKAGE_luci-app-openclash=y
# CONFIG_PACKAGE_luci-app-openvpn-server=y
# CONFIG_PACKAGE_luci-app-packet-capture=y
# CONFIG_PACKAGE_luci-app-passwall=y
# CONFIG_PACKAGE_luci-app-passwall2=y
# CONFIG_PACKAGE_luci-app-poweroff=y
# CONFIG_PACKAGE_luci-app-poweroffdevice=y
# CONFIG_PACKAGE_luci-app-pppoe-relay=y
# CONFIG_PACKAGE_luci-app-pppoe-server=y
# CONFIG_PACKAGE_luci-app-pptp-server=y
# CONFIG_PACKAGE_luci-app-pushbot=y
# CONFIG_PACKAGE_luci-app-quickstart=y
# CONFIG_PACKAGE_luci-app-ramfree=y
# CONFIG_PACKAGE_luci-app-rtorrent=y
# CONFIG_PACKAGE_luci-app-serverchan=y
# CONFIG_PACKAGE_luci-app-shortcutmenu=y
# CONFIG_PACKAGE_luci-app-smartdns=y
# CONFIG_PACKAGE_luci-app-sms-tool=y
# CONFIG_PACKAGE_luci-app-snmpd=y
# CONFIG_PACKAGE_luci-app-socat=y
# CONFIG_PACKAGE_luci-app-softethervpn=y
# CONFIG_PACKAGE_luci-app-ssr-mudb-server=y
# CONFIG_PACKAGE_luci-app-ssr-plus=y
# CONFIG_PACKAGE_luci-app-store=y
# CONFIG_PACKAGE_luci-app-supervisord=y
# CONFIG_PACKAGE_luci-app-syncthing=y
# CONFIG_PACKAGE_luci-app-sysuh3c=y
# CONFIG_PACKAGE_luci-app-tcpdump=y
# CONFIG_PACKAGE_luci-app-tencentcloud-cos=y
# CONFIG_PACKAGE_luci-app-tencentddns=y
# CONFIG_PACKAGE_luci-app-timecontrol=y
# CONFIG_PACKAGE_luci-app-ttnode=y
# CONFIG_PACKAGE_luci-app-udp2raw=y
# CONFIG_PACKAGE_luci-app-usb3disable=y
# CONFIG_PACKAGE_luci-app-v2raya=y
# CONFIG_PACKAGE_luci-app-verysync=y
# CONFIG_PACKAGE_luci-app-vssr=y
# CONFIG_PACKAGE_luci-app-wifidog=y
# CONFIG_PACKAGE_luci-app-wizard=y
# CONFIG_PACKAGE_luci-app-wolplus=y
# CONFIG_PACKAGE_luci-app-wrtbwmon=y
# CONFIG_PACKAGE_luci-app-xlnetacc=y
# CONFIG_PACKAGE_luci-app-xray=y
# CONFIG_PACKAGE_luci-app-xunlei=y
# CONFIG_PACKAGE_luci-lib-iform=y
# CONFIG_PACKAGE_luci-proto-minieap=y
# CONFIG_PACKAGE_luci-proto-netkeeper=y
# CONFIG_PACKAGE_luci-theme-argon=y
# CONFIG_PACKAGE_luci-theme-argonne=y
# CONFIG_PACKAGE_luci-theme-atmaterial_new=y
# CONFIG_PACKAGE_luci-theme-edge=y
# CONFIG_PACKAGE_luci-theme-ifit=y
# CONFIG_PACKAGE_luci-theme-mcat=y
# CONFIG_PACKAGE_luci-theme-neobird=y
# CONFIG_PACKAGE_luci-theme-tomato=y
